@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
html, body {
    overflow-x: hidden;
}


/* Mobile */
@media (max-width:440px) {
    .logo {
        display: flex;
        gap: 10px;
    }
    .logo1{
        height: 20px;
        width: 20px;
    }
    .logo2{
        height: 25px;
        width: 70px;
    }
    .header{
        display: flex ;
        justify-content: space-between;
        padding: 40px 20px;
        gap: 20px;
    }
    .links{
        display: flex;
        gap: 10px;
        justify-items: center;
    }
    .link{
        text-decoration: none;
        color: black;   
        display: none;
        
    }
    .button{
        background-color: black;
        height: 40px;
        border-radius: 5px;
        width: 100px;
        color: white;
        border: none;
        text-align: center;
    }
    .hero{
        background-color: #F4F6F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding: 20px 20px;
        gap: 50px;
    }
    .lefthero Button{
        margin-top: 20px;
    }
    .heroimg{
        height: 300px;
        width: 300px;
    }
    .lefthero{
        margin-top: 30px;
    }
    .lefthero h2{
        font-size: 50px;
        font-weight: bold;
    }
    .lefthero p{
        font-weight: bold;
    }
    .line{
        display: flex;
        flex-direction: column;
        height: 700px;
        background-color: #EBD96B;
        margin-top: 100px;
        justify-content: center;
        gap: 100px;
        padding-top: 100px;
        padding-left: 80px;
    }
    .logos{
        height: 52.67px;
        width: 150px;
    }
    .arrive{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-top: 30px;
    }
    .arrivals{
        margin-top: 150px;
    }
    .arrivals h2{
        margin-left: 80px;
    }
    .arriveimg{
        height: 300px;
        width: 200px;
    }
    .cardflex{
        display: flex; 
        gap: 50px;
    }
    .arrivalcard{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 50px;
    }
    .head{
        font-size: 20px;
    }
    .para{
        color: gray;
        font-size: 20px;
    }
    .sale{
        display: flex;
        flex-direction: column;
        background-color: #F9DF56;
        gap: 20px;
        height: 900px;
        margin-top: 120px;
    }
    .saletxt{
        margin-top: 50px;
        padding-left: 30px;

    }
    .saletxt h2{
        font-size: 50px; 
        font-weight: bold;   
    }
    .saletxt p{
        font-size: 15px;
        margin-top: 20px;
    }
    .saletxt h4{
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
    }
    .saletxt h5{
        font-size: 20px;
        font-weight: lighter;
        margin-top: 10px;
    }
    .saletxt Button{
        margin-top: 10px;
    }
    .saleimg{
        height: 400px;
        width: 315px;
    }
    .youngs{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
        margin-right: 20px;
    }
    .youngimg{
        height: 200px;
        width: 250px;
    }
    .young h2{
        margin-top: 120px;
        padding-left: 20px;
    }
    .youngcard{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 30px;
    }
    .download{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        justify-content: center;
    }
    .leftdownload{
        padding-left: 20px;
    }
    .leftdownload h2{
        font-size: 30px;
        font-weight: bold;
    }
    .leftdownload p{
        font-size: 15px;
        color: gray;
        margin-top: 30px;
    }
    .down{
        display: flex;
        gap: 20px; 
        margin-top: 20px;
    }
    .join{
        height: 400px;
        background-color: #E5C643;
        margin-top: 120px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .join h1{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .join p{
        color: white;
        margin-top: 20px;
    }
    .input{
        height: 50px;
        border: none;
        width: 200px;
        padding-left: 20px;
    }
    .in{
        margin-top: 30px;
    }
    .in Button{
        margin-top: 20px;
    }
    .footer{
        background-color: black;
        height: 1200px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        gap: 20px;
        padding-left: 20px;
        margin-top: 30px;
    }
    .footer h2{
        color: white;
    }
    .footer p{
        color: gray;
    }
    .left{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .facebook{
        width: 52px;
        height: 52px;
        background-color: #EBD96B;
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icons{
        display: flex;
        gap: 20px;
    }
    .comapny{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    /* contact */
    .contact{
        height: 1500px;
        width: 1196px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 20px;
        padding-left: 20px;
    }
    .leftcon{
        height: 350px;
        width: 280px;
        border-radius: 20px;
        background-color: black;
        color: white;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 20px;
    }
    .leftcon h2{
        font-size: 10px;
        font-weight: normal;
    }
    .leftcon p{
        color: gray;
    }
    .con{
        display: flex;
        flex-direction: column;
       padding-top: 70px;
       gap: 20px;
    }
    .call{
        display: flex;
        gap: 20px;
    }

    .location{
        display: flex;
        gap: 10px;
    }
    .email{
        display: flex;
        gap: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
    }
    .name{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .firstname{
        height: 35px;
        width: 200px;
        padding-left: 20px; 
        margin-top: 20px;
    }
    .mes{
        height: 100px;
        width: 250px;
        padding: 20px 20px;
        margin-top: 20px;
    }
    .about{
        display: flex;
        flex-direction: column;
        padding: 0px 5px;
        gap: 70px;
        margin-top: 20px;
    }
    .aboutimg{
        height: 250px;
        width: 300px;
        padding-left: 10px;
    }
    .leftabout p{
        margin-top: 20px;
    }
    .leftabout h1{
        margin-top: 30px;
        font-size: 50px;
    }
}

/* Laptop */
@media (min-width:768px) {
    .logo {
        display: flex;
        gap: 20px;
    }
    .header{
        display: flex ;
        justify-content: space-between;
        padding: 40px 60px;
    }
    .links{
        display: flex;
        gap: 30px;
        justify-items: center;
    }
    .link{
        text-decoration: none;
        color: black;   
    }
    .button{
        background-color: black;
        height: 40px;
        border-radius: 5px;
        width: 100px;
        color: white;
        border: none;
        text-align: center;
    }
    .hero{
        background-color: #F4F6F5;
        height: 580px;
        display: flex;
        justify-content: center;
        padding: 20px 200px;
        border-radius: 20px;
        gap: 50px;
    }
    .lefthero Button{
        margin-top: 20px;
    }
    .heroimg{
        height: 600px;
        width: 700px;
    }
    .lefthero{
        margin-top: 30px;
    }
    .lefthero h2{
        font-size: 70px;
        font-weight: bold;
    }
    .lefthero p{
        font-size: 15px;
        font-weight: bold;
    }
    .line{
        display: flex;
        height: 120px;
        background-color: #EBD96B;
        margin-top: 120px;
        justify-content: center;
        gap: 100px;
        padding-top: 100px;
    }
    .logos{
        height: 52.67px;
        width: 150px;
    }
    .arrive{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 30px;
    }
    .arrivals{
        margin-top: 150px;
    }
    .arrivals h2{
        margin-left: 80px;
    }
    .cardflex{
        display: flex; 
        gap: 200px;
    }
    .arrivalcard{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .head{
        font-size: 25px;
    }
    .para{
        color: gray;
    }
    .sale{
        display: flex;
        background-color: #F9DF56;
        margin-top: 120px;
    }
    .saletxt{
        margin-top: 100px;
        padding-left: 100px;
    }
    .saletxt h2{
        font-size: 70px; 
        font-weight: bold;   
    }
    .saletxt p{
        font-size: 20px;
        margin-top: 20px;
    }
    .saletxt h4{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    .saletxt h5{
        font-size: 20px;
        font-weight: lighter;
        margin-top: 10px;
    }
    .saletxt Button{
        margin-top: 20px;
    }
    .youngs{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }
    .young h2{
        margin-top: 120px;
        padding-left: 120px;
    }
    .download{
        display: flex;
        margin-top: 120px;
        justify-content: center;
        gap: 200px;
    }
    .leftdownload{
        margin-top: 200px;
    }
    .leftdownload h2{
        font-size: 48px;
        font-weight: bold;
    }
    .leftdownload p{
        font-size: 18px;
        color: gray;
        margin-top: 30px;
    }
    .down{
        display: flex;
        gap: 20px; 
        margin-top: 20px;
    }
    .join{
        height: 500px;
        background-color: #E5C643;
        margin-top: 120px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .join h1{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    .join p{
        color: white;
    }
    .input{
        height: 50px;
        border: none;
        width: 350px;
        padding-left: 20px;
    }
    .in{
        margin-top: 30px;
    }
    .in Button{
        margin-left: -120px;
        margin-top: 20px;
    }
    .footer{
        background-color: black;
        height: 400px;
        justify-content: center;
        display: flex;
        gap: 200px;
        padding-top: 120px;
        margin-top: 30px;
    }
    .footer h2{
        color: white;
    }
    .footer p{
        color: gray;
    }
    .left{
        display: flex;
        gap: 100px;
    }
    .facebook{
        width: 52px;
        height: 52px;
        background-color: #EBD96B;
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .icons{
        display: flex;
        gap: 20px;
    }
    .comapny{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    /* contact */
    .contact{
        height: 667px;
        width: 1196px; 
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .leftcon{
        height: 600px;
        width: 491px;
        border-radius: 20px;
        background-color: black;
        color: white;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 40px;
    }
    .leftcon h2{
        font-size: 28px;
        font-weight: normal;
    }
    .leftcon p{
        color: gray;
    }
    .con{
        display: flex;
        flex-direction: column;
       padding-top: 70px;
       gap: 40px;
    }
    .call{
        display: flex;
        gap: 20px;
    }

    .location{
        display: flex;
        gap: 20px;
    }
    .email{
        display: flex;
        gap: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
    }
    .name{
        display: flex;
        gap: 30px;
    }
    .firstname{
        height: 35px;
        width: 200px;
        padding-left: 20px; 
        margin-top: 20px;
    }
    .mes{
        height: 150px;
        width: 400px;
        padding: 20px 20px;
        margin-top: 20px;
    }
    /* about */
    .about{
        display: flex;
        padding: 20px 80px;
        gap: 70px;
        margin-top: 20px;
    }
    .leftabout{
        width: 50%;
    }
    .leftabout p{
        margin-top: 20px;
    }
    .leftabout h1{
        margin-top: 30px;
        font-size: 50px;
    }
}
